*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: black;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 0% 5%;
}

.cabecalho-menu{
    display: flex;
    gap: 10px;
}